[submodule "src/licit"]
	path = src/licit
	url = https://github.com/MO-Movia/licit.git
	branch = breaking_changes_tiptap
[submodule "src/core"]
	path = src/core
	url = https://github.com/MO-Movia/licit-doc-attrs-step.git
	branch = breaking_changes_tiptap
[submodule "src/commands"]
	path = src/commands
	url = https://github.com/MO-Movia/licit-ui-commands.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/block-control"]
	path = src/plugins/block-control
	url = https://github.com/MO-Movia/licit-contrib-plugin-block-control.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/change-case"]
	path = src/plugins/change-case
	url = https://github.com/MO-Movia/licit-plugin-contrib-change-case.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/citation"]
	path = src/plugins/citation
	url = https://github.com/MO-Movia/licit-citation.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/copy-images"]
	path = src/plugins/copy-images
	url = https://github.com/MO-Movia/licit-plugin-contrib-rich-copy-embed-images.git
	branch = develop
[submodule "src/plugins/custom-styles"]
	path = src/plugins/custom-styles
	url = https://github.com/MO-Movia/licit-plugin-contrib-styles.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/export-pdf"]
	path = src/plugins/export-pdf
	url = https://github.com/MO-Movia/licit-plugin-contrib-export-pdf.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/glossary"]
	path = src/plugins/glossary
	url = https://github.com/MO-Movia/licit-plugin-contrib-glossary.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/highlight"]
	path = src/plugins/highlight
	url = https://github.com/MO-Movia/licit-plugin-highlight.git
	branch = develop
[submodule "src/plugins/info-icon"]
	path = src/plugins/info-icon
	url = https://github.com/MO-Movia/MO-Movia-licit-plugin-contrib-infoicon.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/multimedia"]
	path = src/plugins/multimedia
	url = https://github.com/MO-Movia/licit-plugin-contrib-multimedia.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/object-id"]
	path = src/plugins/object-id
	url = https://github.com/MO-Movia/licit-object-id.git
	branch = develop
[submodule "src/plugins/paste-json"]
	path = src/plugins/paste-json
	url = https://github.com/MO-Movia/licit-plugin-contrib-paste-json.git
	branch = develop
[submodule "src/plugins/vignette"]
	path = src/plugins/vignette
	url = https://github.com/MO-Movia/licit-plugin-contrib-vignette.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/table-mods"]
	path = src/plugins/table-mods
	url = https://github.com/MO-Movia/MO-Movia-licit-plugin-contrib-table-mods.git
	branch = breaking_changes_tiptap
[submodule "src/plugins/capco"]
	path = src/plugins/capco
	url = https://github.com/MO-Movia/licit-capco.git
	branch = develop
[submodule "src/plugins/referencing"]
	path = src/plugins/referencing
	url = https://github.com/MO-Movia/licit-referencing.git
	branch = develop
[submodule "src/plugins/floating-menu"]
	path = src/plugins/floating-menu
	url = https://github.com/MO-Movia/licit-plugin-contrib-floatingmenu.git
	branch = breaking_changes_tiptap
