.citable-material-container {
    position: relative;
    display: flex;
    width: 30%;
    min-width: 150px;
    flex-direction: column;
    background-color: #F7F7F7;
}

.citable-material-container > h2 {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 10px 5px;
    margin: 0;
    text-align: center;
    border-bottom: solid 2px #d3d3d3;
}

.citable-material-list {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden scroll;
}

.citable-material-not-found {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.citable-material-list-item {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    height: 40px;
    min-height: 40px;
    user-select: none;
}

.citable-material-list-item:nth-child(odd) {
    background-color: #FFF;
}

.citable-material-list-item:nth-child(even) {
    background-color: #ebebeb;
}

.citable-material-list-item:hover {
    background-color: #1f5fbf;
    color: #FFF;
}

.citable-material-title {
    position: relative;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 5px 0 10px;
    width: 100%;
    font-size: 1em;
    margin: 0;
}

.citable-material-list-item.active-citable-material {
    background-color: #0E3979;
    color: #FFF;
}
