.czi-editor-frameset .molsp-dropbtn {
  background-color: var(--czi-bg);
  border-color: var(--czi-molsp-dropbtn-border-color);
  border-style: solid;
  border-width: 1px;
  color: var(--czi-text-color);
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 80%);
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 160px;
  padding: 5px;
}

.czi-editor-frameset .molsp-stylenames {
  max-height: 205px;
  min-height: 28px;
  overflow: auto hidden;
}

.czi-editor-frameset .molsp-stylenames-hr {
  margin: 2px;
}

.czi-editor-frameset .molsp-dropdown-content {
  background-color: var(--czi-bg);
  border-color: var(--czi-molsp-dropbtn-border-color);
  color: var(--czi-text-color);
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 80%);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 95px;
  line-height: 0.75;
  width: max-content;
}

.czi-editor-frameset .molsp-style-edit-menu {
  border-color: #cfcfcf;
  box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
  height: auto;
  line-height: normal;
  min-width: 174px;
  padding: 8px 0;
}

.czi-editor-frameset .molsp-style-edit-menu button {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: var(--czi-text-color);
  cursor: pointer;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.czi-editor-frameset .molsp-style-edit-menu button:hover,
.czi-editor-frameset .molsp-style-edit-menu button:focus {
  background-color: var(--czi-button-hover-background-color);
  outline: none;
}

.czi-editor-frameset .div-height-large {   
  height: 112px; 
}

.czi-editor-frameset .div-height-small {   
  height: 48px; 
}

.czi-editor-frameset .molsp-dropdown-content a {
  display: block;
  padding: 6px 14px;
  text-decoration: none;
}

.czi-editor-frameset .molsp-dropdown-content a:hover {
  background-color: var(--czi-button-hover-background-color);
  border: 1px solid;
  border-radius: 6px;
  color: var(--czi-text-color);
}

#container1 {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
  width: 265px;
}

#container1>div {
  height: 22px;
  padding: 1px 4px;
}

#container1:hover {
  border: 1px solid;
  border-radius: 6px;
}

.selectbackground {
  border: 1px solid;
  border-radius: 6px;
}

.czi-editor-frameset .molsp-arrow-right {
  text-align: right;
  width: 30px;
}

.czi-editor-frameset .molsp-style-sampletext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 105px;
}

.czi-editor-frameset .stylemenu-backgroundcolor {
  background-color: yellow;
} 

.czi-editor-frameset .tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.czi-editor-frameset .custom-tooltip {
  visibility: hidden; 
  opacity: 0;
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 11;
  transition: opacity 0.3s;
  margin-top: 25px;
  margin-left: -20px;
}
  
.czi-editor-frameset .tooltip-wrapper:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}
 
.czi-editor-frameset .tooltip-text {
  text-decoration: underline;
}
