.czi-table-grid-size-editor {
  background: #fff;
  box-shadow: var(--czi-overlay-shadow);
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
}

.czi-table-grid-size-editor-body {
  position: relative;
}

.czi-table-grid-size-editor-body::after {
  background: rgb(0 0 0 / 0%);
  inset: -50px -50px -50px 0;
  content: '';
  position: absolute;
}

.czi-table-grid-size-editor-cell {
  border: var(--czi-border-grey);
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
}

.czi-table-grid-size-editor-cell.selected {
  background: var(--czi-selection-highlight-color);
  border-color: var(--czi-selection-highlight-color-dark);
}

.czi-table-grid-size-editor-footer {
  padding-bottom: 5px;
  text-align: center;
}

.czi-table-grid-size-editor-inputs {
  align-items: end;
  border-top: var(--czi-border-grey);
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr 1fr auto;
  padding: 8px;
  position: relative;
  z-index: 3;
}

.czi-table-grid-size-editor-inputs label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.czi-table-grid-size-editor-inputs input {
  box-sizing: border-box;
  font: inherit;
  min-width: 48px;
  padding: 4px;
  width: 100%;
}

.czi-table-grid-size-editor-inputs button {
  background: var(--czi-button-bg);
  border: var(--czi-border-grey);
  color: var(--czi-button-text-color);
  cursor: pointer;
  font: inherit;
  padding: 5px 8px;
}

.czi-table-grid-size-editor-inputs button:focus,
.czi-table-grid-size-editor-inputs button:hover {
  background: var(--czi-button-hover);
}
